.Toastify__toast {
    position: relative;
    min-height: 64px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 8px;
    border-radius: 1px;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);
    display: flex;
    justify-content: space-between;
    max-height: 800px;
    overflow: hidden;
    font-family:'Open Sans','sans-serif' !important;
    cursor: pointer;
    direction: ltr;
    font-size: 14px;
}